<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Красная книга</title>
    <link rel="stylesheet" href="css/index_style.css">
</head>
<body>
    <header>
        <h1>
            <span class="highlight">Красная</span> 
            книга
        </h1>
    </header>

    <section id="menu">
        <form action="#" method="get" class="search-form">
            <input type="text" placeholder="Поиск по статьям..." class="search-input" id="searchInput">
            <!--<button type="submit" class="search-button" id="searchButton">Найти</button>-->
        </form>

        <div class="filter-options">
            <label for="views">Виды:</label>
            <select id="views">
                <option>Все</option>
                <option th:each="view: ${views}" th:value="${view.id}" th:text="${view.title}"></option>
            </select>

            <a href="admin_add.html" class="a-inbtn"><button class="add-button">Добавить запись</button></a>
            <a href="admin_add_view.html" class="a-inbtn"><button class="add-button">Добавить/Удалить вид</button></a>
        </div>

    </section>

    <main>
        <ul id="article-list">
            <li class="article" th:each="animal: ${list}">
                <img class="animals-img" src="animal.data">
                <h2><a href="admin_article.html" th:text="${animal.name}">Зебра</a></h2>
                <p class="views" th:text="${animal.view}">1</p>
                <p th:text="${animal.latinName}">1</p>
            </li>
        </ul>
    </main>


    <footer>
        <p>&copy; 2024 Красная книга. Все права защищены. <a id="about" href="about.html">О нас.</a></p>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>
