<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Красная книга</title>
    <link rel="stylesheet" href="css/article_style.css">
</head>
<body>
    <header>
        <h1>
            <span class="highlight">Красная</span> 
            книга
        </h1>
    </header>
    <section id="menu">

    <a class="a-inbtn" href="admin_index.html"><button class="back-button">Назад</button></a>

    <a href="#" class="a-inbtn"><button class="edit-button">Редактировать запись</button></a>
    </section>
    <main>
        <article class="article-content" th:each="animal: ${list}">
            <h2 class="article-title" th:text="${animal.name}"></h2>
            <p class="article-meta" th:text="${animal.latinName}"></p>
            <img src="animal.data" alt="image" class="article-image">
            <section class="article-text">
                <p th:text="${animal.division}"></p>
                <p th:text="${animal.family}"></p>
                <p th:text="${animal.view}"></p>
                <p th:text="${animal.status}"></p>
                <p th:text="${animal.distribution}"></p>
                <p th:text="${animal.inHabitat}"></p>
                <p th:text="${animal.habitatFeatures}"></p>
                <p th:text="${animal.mitigatingFactors}"></p>
                <p th:text="${animal.protectionMeasuresTaken}"></p>
                <p th:text="${animal.changesInStatusOfSpecies}"></p>
                <p th:text="${animal.neededConservationActions}"></p>
                <p th:text="${animal.sourcesOfInformation}"></p>
                <p th:text="${animal.authors}"></p>
            </section>
        </article>
    </main>
    <footer>
        <p>&copy; 2024 Красная книга. Все права защищены. <a id="about" href="about.html">О нас.</a></p>
    </footer>
</body>
</html>
